{{ bos_token }}{% for message in messages %}{% if message['role'] == 'system' %}{% if loop.first %}{{ '<start_of_turn>user\n' + message['content'] | trim + '\n\n' }}{% else %}{{ message['content'] | trim + '\n\n' }}{% endif %}{% elif message['role'] == 'user' %}{% if not loop.previtem or loop.previtem['role'] != 'system' %}{{ '<start_of_turn>user\n' }}{% endif %}{{ message['content'] | trim + '<end_of_turn>\n' }}{% elif message['role'] == 'assistant' %}{{ '<start_of_turn>model\n' + message['content'] | trim + '<end_of_turn>\n' }}{% endif %}{% endfor %}{% if add_generation_prompt %}{{ '<start_of_turn>model\n' }}{% endif %}